## PYTHON DATA STRUCTURES

### Working with Lists

In [1]:
house = [115910.50, 128, 4]
print("Object Type of House:", type(house))
print("Length of House:", len(house))
house

Object Type of House: <class 'list'>
Length of House: 3

[115910.5, 128, 4]

In [3]:
houses = [
    [115910.26, 128.0, 4.0],
    [48718.17, 210.0, 3.0],
    [28977.56, 58.0, 2.0],
    [36932.27, 79.0, 3.0],
    [83903.51, 111.0, 3.0],
]

In [5]:
for index, house in enumerate(houses):
    house_price = house[0]
    print(f"House {index + 1} Price: {house_price}")
    house_area = house[1]
    print(f"House {index + 1} Area: {house_area}")
    price_per_m2 = round(house_price / house_area, 2)
    print(f"House {index + 1} Price per Square Metre: {price_per_m2}")
    print("_" * 38)

House 1 Price: 115910.26
House 1 Area: 128.0
House 1 Price per Square Metre: 905.55
______________________________________
House 2 Price: 48718.17
House 2 Area: 210.0
House 2 Price per Square Metre: 231.99
______________________________________
House 3 Price: 28977.56
House 3 Area: 58.0
House 3 Price per Square Metre: 499.61
______________________________________
House 4 Price: 36932.27
House 4 Area: 79.0
House 4 Price per Square Metre: 467.5
______________________________________
House 5 Price: 83903.51
House 5 Area: 111.0
House 5 Price per Square Metre: 755.89
______________________________________

In [7]:
for house in houses:
    price_per_m2 = round(house[0] / house[1], 2)
    house.append(price_per_m2)
houses

[[115910.26, 128.0, 4.0, 905.55],
 [48718.17, 210.0, 3.0, 231.99],
 [28977.56, 58.0, 2.0, 499.61],
 [36932.27, 79.0, 3.0, 467.5],
 [83903.51, 111.0, 3.0, 755.89]]

### Working with Dictionaries

In [9]:
one_house = {
    "price_approx_usd": 115910.26,
    "surface_covered_in_m2": 128,
    "rooms": 4,
}

In [11]:
print("House Particulars")
print("-"*30)
print(f"House Total Value: {one_house["price_approx_usd"]}")
print(f"House Total Area: {one_house["surface_covered_in_m2"]}")
print(f"No. of Rooms: {one_house["rooms"]}")
print(f"House Value Per Sq. Metre: {round(one_house["price_approx_usd"] / one_house["surface_covered_in_m2"], 2)}")

House Particulars
------------------------------
House Total Value: 115910.26
House Total Area: 128
No. of Rooms: 4
House Value Per Sq. Metre: 905.55

In [ ]:
one_house["price_per_m2"] = round(one_house["price_approx_usd"] / one_house["surface_covered_in_m2"], 2)
one_house

In [13]:
houses_rowwise = [
    {
        "price_approx_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    },
    {
        "price_approx_usd": 48718.17,
        "surface_covered_in_m2": 210,
        "rooms": 3,
    },
    {
        "price_approx_usd": 28977.56,
        "surface_covered_in_m2": 58,
        "rooms": 2,
    },
    {
        "price_approx_usd": 36932.27,
        "surface_covered_in_m2": 79,
        "rooms": 3,
    },
    {
        "price_approx_usd": 83903.51,
        "surface_covered_in_m2": 111,
        "rooms": 3,
    },
]

In [15]:
print(f"Particulars of Each House")
for index, house in enumerate(houses_rowwise):
    print(f"House {index + 1} value: US${house["price_approx_usd"]}")
    print(f"House {index + 1} area in Sq. Metre: {house["surface_covered_in_m2"]}")
    print(f"House {index + 1}: {house["rooms"]} rooms")
    print(f"House {index + 1} price per Sq. Metre: US${round(house["price_approx_usd"] / house["surface_covered_in_m2"], 2)}")
    print("_"*38)

Particulars of Each House
House 1 value: US$115910.26
House 1 area in Sq. Metre: 128
House 1: 4 rooms
House 1 price per Sq. Metre: US$905.55
______________________________________
House 2 value: US$48718.17
House 2 area in Sq. Metre: 210
House 2: 3 rooms
House 2 price per Sq. Metre: US$231.99
______________________________________
House 3 value: US$28977.56
House 3 area in Sq. Metre: 58
House 3: 2 rooms
House 3 price per Sq. Metre: US$499.61
______________________________________
House 4 value: US$36932.27
House 4 area in Sq. Metre: 79
House 4: 3 rooms
House 4 price per Sq. Metre: US$467.5
______________________________________
House 5 value: US$83903.51
House 5 area in Sq. Metre: 111
House 5: 3 rooms
House 5 price per Sq. Metre: US$755.89
______________________________________

In [ ]:
for house in houses_rowwise:
    price_per_m2 = round(house["price_approx_usd"] / house["surface_covered_in_m2"], 2)
    house["price_per_m2"] = price_per_m2
houses_rowwise

In [17]:
house_prices = []
for house in houses_rowwise:
    house_prices.append(house["price_approx_usd"])
    house_prices
mean_house_price = round(sum(house_prices) / len(house_prices),2)
print("mean_house_price type:", type(mean_house_price))
mean_house_price

mean_house_price type: <class 'float'>

62888.35

In [19]:
houses_columnwise = {
    "price_approx_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

In [21]:
print(f"Particulars of Each House")
print("-" * 40)

num_houses = len(houses_columnwise["price_approx_usd"])
for index in range(num_houses):
    price = houses_columnwise["price_approx_usd"][index]
    area = houses_columnwise["surface_covered_in_m2"][index]
    rooms = houses_columnwise["rooms"][index]

    print(f"House {index + 1} value: USD {price:.2f}") 
    print(f"House {index + 1} area: {area} m²")
    print(f"House {index + 1} has: {int(rooms)} rooms") 
    print("-" * 40)

price_per_m2 = []
for p, a in zip(houses_columnwise["price_approx_usd"], houses_columnwise["surface_covered_in_m2"]):
    price_m2 = p / a
    price_per_m2.append(price_m2)

houses_columnwise["price_per_m2"] = price_per_m2

print("\nPrice per Square Metre:")
for index, price_m2_val in enumerate(houses_columnwise["price_per_m2"]):
    print(f"House {index + 1} Price per m²: USD {price_m2_val:.2f}")

Particulars of Each House
----------------------------------------
House 1 value: USD 115910.26
House 1 area: 128.0 m²
House 1 has: 4 rooms
----------------------------------------
House 2 value: USD 48718.17
House 2 area: 210.0 m²
House 2 has: 3 rooms
----------------------------------------
House 3 value: USD 28977.56
House 3 area: 58.0 m²
House 3 has: 2 rooms
----------------------------------------
House 4 value: USD 36932.27
House 4 area: 79.0 m²
House 4 has: 3 rooms
----------------------------------------
House 5 value: USD 83903.51
House 5 area: 111.0 m²
House 5 has: 3 rooms
----------------------------------------

Price per Square Metre:
House 1 Price per m²: USD 905.55
House 2 Price per m²: USD 231.99
House 3 Price per m²: USD 499.61
House 4 Price per m²: USD 467.50
House 5 Price per m²: USD 755.89

In [29]:
houses_columnwise = {
    "price_approx_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
    "house": ["House 1", "House 2", "House 3", "House 4", "House 5"],
}

import pandas as pd
df_houses = pd.DataFrame(houses_columnwise)
df_houses = df_houses.set_index("house")
df_houses

         price_approx_usd  surface_covered_in_m2  rooms
house
House 1         115910.26                  128.0    4.0
House 2          48718.17                  210.0    3.0
House 3          28977.56                   58.0    2.0
House 4          36932.27                   79.0    3.0
House 5          83903.51                  111.0    3.0